:root{
    --branco-gelo: #f0f0f0;
    --azul-nuvem: #afddec;
    --preto-fosco: #1b1b1b;
    --cinza-claro: #8a8a8a;
    --rosa-claro: #f79b85;
    --navy-blue: #0066cc;
    --vermelho-imperial: #e54b4b;
}