.to-do__item{
    display: flex;
    align-items: center;
}

.check:checked ~ .elemento__texto{
    text-decoration: line-through;
    color: var(--cinza-claro);
}

.elemento__texto{
    margin: .25rem 0;
}
